<header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    {{ if .Params.subtitle }}
        <p class="post-description" itemprop="description">{{ .Params.subtitle }}</p>
    {{ end }}
    <p class="post-date{{ if not .Site.Params.readingTime }} post-line{{ end }}">
        {{ with .Params.categories -}}
        <span itemprop="name">
            {{ range . -}}
            <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
            {{ end -}}
        </span>
        {{- end }}
        </span>
        <span>&middot;</span>
        <span><time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">{{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}</time></span>
        {{ if .Site.Params.readingTime }}
            <span>&middot;</span>
            <span>{{ .Site.Params.readingTimeText }} {{ .Page.ReadingTime }} min</span>
        {{ end }}
    </p>
</header>